body {
  background-color: #2C2C2C;
  margin: 0;
  padding: 0;
}

body * {
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, "Helvetica";
  font-size: 0.875rem;
}

.opacity-60 {
  opacity: 0.6;
}